@font-face {
    font-family:"";
    font-style: normal;
    font-weight: 400;
    src: local("")
         url() format(woff2), 
         url() format(woff);
         
}

@font-face {
    font-family:"";
    font-style: normal;
    font-weight: 700;
    src: local("")
        url() format(woff2),
        url() format(woff);
}
