@media (max-width: 1025px) {
    .container{
        max-width: 992px;
    }
    .header-logo {
        width: 992px;
    }

    .menu-slick-slide1 .slick-dots{
        display: flex;
        flex-direction: row;
        right: 400px;
        bottom: 0;
        box-sizing: border-box;
    }

    .menu-slick-slide1 .slick-dots li{
        margin-right: 30px;
    }
    .menu-slick-slide1 .slick-dots li.slick-active button:before{
        width: 41px;
        height: 58px;
        border-bottom: 2px solid #000000;
        border-right: none;
        padding-right: 21px;
    }

    .menu-slick-slide1::before{
        display: none;
    }

    .menu-right img{
        width: 480px;
    }

    .new-left{
        margin-right: 50px;
    }
    .new-middle{
        margin-right: 50px;
    }

    .footer-information{
        flex-direction: column;
    }

    .information-bottom{
        display: flex;
        margin-top: 31px;
    }

    .delivery{
        margin-right: 60px;
    }

    .information-bottom a{
        letter-spacing: 0.02em;
    }

    .ml60 {
        margin-left: 0;
    }

    .mr61{
        margin-right: 61px;
    }

    .vector{
        width: 992px;
    }
}

@media (max-width: 769px) {
    .container {
        max-width: 736px;
    }

    /* .header{
        margin-bottom: 104px;
    } */

    .header-logo {
        width: 736px;
        padding-top: 50px;
    }

    .header-burger{
        display: block;
        top: 0;
        right: -550px;
        position: relative;
        z-index: 12;
        width: 30px;
        height: 20px;
    }


    .header-burger span{
        background-color:#313133 ;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger::before, 
    .header-burger::after{
        content: "";
        background-color:#313133 ;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header-burger::before{
        top: 0;
    }

    .header-burger.active::before{
        transform:rotate(45deg);
        top: 9px;
        background-color:#fff;
    }

    .header-burger.active::after{
        transform:rotate(-45deg);
        bottom: 9px;
        background-color:#fff;
    }

    .header-burger::after{
        bottom: 0;
    }

    .header-burger.active span{
        transform: scale(0);
    }

    .header-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .header-menu.active{
        top: 0;
    }

    .header-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .ml62, .list {
        margin-left: 0;
        color: #fff;
        letter-spacing: 0.13em;
    }

    .header-list li{
        margin-top: 65px;
        
    }

    .menu-slick-slide1 .slick-dots{
        right: 250px;
        bottom: -100px;
    }

    .menu-slick-slide1 .slick-slide {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu-left{
        margin-top: 30px;
    }

    .menu-text {
        font-family: "Playfair Display", sans-serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
    }

    .section-new{
        flex-direction: column; 
    }

    .new-left{
        flex-direction: row;
        margin-bottom: 50px;
    }

    .new-middle{
        flex-direction: row;
        margin-bottom: 50px;
    }

    .new-right{
        flex-direction: column;
        align-items: center;
    }

    .new-right img{
        width: 270px;
    }

    .footer-information{
        flex-direction: column;
    }

    .information-top{
        flex-direction: row;
    }

    .information{
        margin-top: 0;
        margin-left: 51px;
    }

    .information-bottom{
        margin-top: 31px;
    }

    .vector{
        width: 736px;
    }
}

@media (max-width: 426px) {
    .container{
        max-width: 389px;
    }

    .header-logo {
        width: 389px;
        padding-top: 40px;
    }

    .header-burger{
        right: -290px;
    }


    .menu-slick-slide1 .slick-slide {
        overflow: hidden;
    }

    #slick-slide-control00::before{
        content: '•';
    }
    
    #slick-slide-control01::before{
        content: '•';
    }
    
    
    #slick-slide-control02::before{
        content: '•';
    }
    
    #slick-slide-control03::before{
        content: '•';
    }

    .menu-slick-slide1 .slick-dots li.slick-active button:before{
        border: none;
    }

    .menu-slick-slide1 .slick-dots{
        right: 130px;
        bottom: -100px;
    }

    .menu-slick-slide1 .slick-dots li{
        margin-right: 10px;
    }

    .menu-left{
        width: 100%;
        margin-top: 30px;
    }

    .menu-text {
        font-family: "Playfair Display", sans-serif;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
    }

    .menu-right img{
        width: 370px;
    }

    .section-new{
        flex-direction: column; 
        justify-content: center;
    }

    .new-left{
        flex-direction: column;
        margin-bottom: 50px;
        margin-right: 0;
    }

    .new-left_text{
        font-size: 22px;
    }

    .rectangle{
        top: 70px;
    }

    .new-middle{
        flex-direction: column;
        align-items:center;
        margin-bottom: 50px;
        margin-right: 0;
    }

    .new-right{
        flex-direction: column;
        align-items: center;
    }

    .left-top {
        margin-bottom: 39px;
    }

    .middle-top{
        margin-bottom: 39px;
    }

    .section-comment{
        display: none;
    }

    .mr31{
        width: 180px;
    }

    .caramel1{
        width: 180px;
    }

    .button-autoplay{
        padding: 16px 46px;
    }

    .last-chance{
        margin-bottom: 70px;
    }

    .last-chance::before{
        display: none;
    }

    .chance-bottom .slick-dots li button{
        border-radius: 50%;
        outline: none;
        height: 2px;
        width: 2px;
        border: 1px solid #79797c;
        background:#79797c;
        box-sizing: border-box;
    }

    .chance-bottom .slick-dots li button:before{
        font-size: 0;
    }

    .chance-bottom .slick-dots li[class="slick-active"] button{
        background: #000000;
        border: 1px solid #000000;
    }


    .information-top{
        flex-direction: column;
    }

    .information{
        margin-top: 30px;
        margin-left: 0px;
    }

    .information-bottom{
        display: flex;
        flex-direction: column;
        margin-top: 31px;
    }

    .ml60{
        margin-left: 0;
    }

    .mr61{
        margin-right: 61px;
    }

    .delivery{
        margin-bottom: 20px;
    }

    .vector{
        width: 425px;
    }

    .footer-text{
        text-align: center;
    }
}

@media (max-width: 375px){
    .container{
        max-width: 343px;
    }
    
    .header-logo {
        position: relative;
        width: 343px;
        padding-top: 26px;
        margin-bottom: 17px;
    }

    .header-burger{
        right: -240px;
    }

    .menu-right img{
        width: 340px;
    }

      
    .menu-text {
        font-size: 28px;
    }

    .menu-slick-slide1 .slick-dots{
        right: 115px;
    }

    .section {
        padding-top: 80px;
    }
    
    .new-left_text{
        font-size: 20px;
    }
    
    .rectangle{
        top: 65px;
    }

    .mr31{
        width: 100%;
    }

    .caramel1{
        width: 100%;
    }

    .information{
        flex-direction: column;
    }

    .ml51{
        margin-left: 0;
    }

    .information-contacts{
        margin-bottom: 20px;
    }

    .information-bottom{
        margin-top: 11px;
    }

    .information-bottom a{
        font-size: 14px;
    }

    .vector{
        width: 347px;
    }
}

@media (max-width: 321px) {
    .container{
        max-width: 288px;
    }

    .header-logo {
        width: 288px;
        padding-top: 22px;
    }

    .header-burger{
        right: -210px;
    }

    .menu-right img{
        width: 280px;
    }

    .new-lamp, .middle-top, .middle-bottom, .new-right{
        width: 100%;
        text-align: center;
    }

    .chance-bottom_img{
        width: 100%;
    }

    .button-autoplay{
        width: 100%;
    }
      
    .menu-text {
        font-size: 27px;
    }
    .menu-slick-slide1 .slick-dots{
        right: 80px;
    }

    .button-menu {
        width: 100%;
    }

    .vector{
        width: 288px;
    }
}




