body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #303032;
    margin: 0;
    /* background-color: aquamarine; */
}

* {
    box-sizing: border-box;
}

h1, h2, p, span {
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

/*  */

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header-burger{
    display: none;
}

.burgermenu{
    display: flex;
}

.header-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0,13em;
}

.ml62 {
    margin-left: 62px;
}

.header-list li{
    list-style: none;
    color: #FFFFFF;
}


/*  */

.menu-slick-slide1::before{
    content: url(/img/Header/img.png);
    position: absolute;
    top: 0;
    right: -143px;
}

/* header-logo */

.header-logo {
    display: flex;
    align-items: center;
    padding-top: 90px;
    position: absolute;
    width: 1140px;
    z-index: 150;
}

.logo {
    display: flex;
    flex-basis: 15%;
}

a {
    text-decoration: none;
    color: #303032;
}


.navigation {
    display: flex;
    flex-basis: 53%;
    justify-content: end;
}

.ml32 {
    margin-left: 32px;
}

/* end header-logo */

/* header-menu */

.menu-slid_slick .slick-slide {
    display: flex;
}

.menu-left {
    width: 545px;
    margin-left: 1px;
}

.menu-text {
    font-family: "Playfair Display", sans-serif;
    font-size: 57px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
}

.menu-left p {
    font-size: 20px;
    margin-bottom: 21px;
}

.nodiscount {
    font-size: 20px;
    margin-right: 22px;
}

.discount {
    font-weight: 600;
    font-size: 30px;
}

.button-menu {
    background: #303032;
    padding: 18px 80px;
    border: none;
    color: #FFFFFF;
    letter-spacing: 0.13em;
    cursor: pointer;
    margin-top: 34px;
}

/*menu-slick-slide  */

.menu-slick-slide1 .slick-slide {
    display: flex;
    justify-content: start;
    align-items:center;
}

.menu-slick-slide1 .slick-dots{
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 270px;
    width: auto;
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
    box-sizing: border-box;
}

#slick-slide-control00::before{
    content: '01';
    width: 23px;
    height: 29px;
    font-family:"Playfair Display", sans-serif;
    font-size: 40px;
    letter-spacing: 0.05em;
}

#slick-slide-control01::before{
    content: '02';
    width: 23px;
    height: 29px;
    font-family:"Playfair Display", sans-serif;
    font-size: 40px;
    letter-spacing: 0.05em;
}


#slick-slide-control02::before{
    content: '03';
    width: 23px;
    height: 29px;
    font-family:"Playfair Display", sans-serif;
    font-size: 40px;
    letter-spacing: 0.05em;
}

#slick-slide-control03::before{
    content: '04';
    width: 23px;
    height: 29px;
    font-family:"Playfair Display", sans-serif;
    font-size: 40px;
    letter-spacing: 0.05em;
}

.menu-slick-slide1 .slick-dots li{
    margin-bottom: 30px;
    display: flex;
}

.menu-slick-slide1 .slick-dots li.slick-active button:before{
    width: 41px;
    height: 58px;
    border-right: 2px solid #000000;
    padding-right: 21px;   
}

/*end menu-slick-slide  */

/* end header-menu */

/* section */

.section {
    padding-top: 104px;
}

.section-new{
    display: flex;
    justify-content: space-between;
}

.new-left {
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
    justify-content: space-around;
    margin-right: 30px;
}

.left-top {
    position: relative;
}

.rectangle{
    width: 90px;
    height: 4px;
    background: #303032;
    position: absolute;
    top: 85px;
}

.new-middle{
    display: flex;
    flex-direction: column;
    flex-basis: 24px;
    justify-content: space-around;
    text-align: center;
    margin-right: 73px;
}

.new-right{
    display: flex;
    flex-direction: column;
    flex-basis: 52%;
    text-align: center;
}

.new-lamp {
    text-align: center;
}

.new-left_text{
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.05em;
}

.signature {
    font-size: 20px;
    margin-bottom: 7px;
}

.price{
    font-weight: 600;
    font-size: 28px;
}

.middle-top{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.middle-bottom{
    background-color: #FAECE9;
}

/* end section */

/* section-comment */

.section-comment{
    margin-bottom: 98px;
}

.comment-slick-slide2{
    display: flex;
    justify-content: center;
    margin-top: 102px;
    text-align: center;
}

.feedback h4 {
    font-size: 18px;
    color: #444348;
}

.feedback{
    text-align: center;
}

.feedback-title{
    font-family: "Avenir Next", sans-serif;
    font-size: 18px;
    color: #444348;
}

.feedback-subtitle{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 16px;
    width: 653px;
    margin-top: 20px;
    margin-bottom: 25px;
}
/*comment-slick-slide2*/

.comment-slick-slide2 .slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-slick-slide2 .slick-dots li button{
    border-radius: 50%;
    outline: none;
    height: 8px;
    width: 8px;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
}

.comment-slick-slide2 .slick-dots li button:before{
    font-size: 0;
}

.comment-slick-slide2 .slick-dots li[class="slick-active"] button{
    background: #B3B3B3;
}

.comment-slick-slide2 .slick-prev:before{
    color: #B3B3B3;
    border-radius: 50%;
    border: none;
    padding: 11px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.comment-slick-slide2 .slick-next:before{
    color: #B3B3B3;
    border-radius: 50%;
    border: none;
    padding: 11px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
/*end comment-slick-slide2*/

/*end section-comment */

/* section-last*/

.last-chance {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 73px;
    margin-bottom: 211px;
}

.last-chance::before{
    content: url(/img/Section-last/img2.png);
    position: absolute;
    top: 25px;
    left: -176px;
    z-index: -1;
}

.chance-top{
    position: relative;
    margin-bottom: 37px;
}

.menu-last-chance{
    margin-bottom: 25px;
}

.chairs {
    text-decoration-line: underline;
    color: #000000;
    font-weight: 600;
}

.ml48{
    margin-left: 48px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.chance-bottom{
    display: flex;
}

.mr31{
    margin-right: 31px;
    width: 209px;
    padding-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.caramel1 {
    width: 209px;
    padding-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.ml26 {
    margin-left: 26px;
}

.ml26 p{
    margin-bottom: 11px;
}

.sale{
    color: #303032;
    font-weight: 600;
    font-size: 28px;
}

.no-sale{
    color: #979798;
    font-weight: 600;
    text-decoration-line: line-through;
}

.chance-bottom_img{
    display: flex;
    justify-content: end;
}

/*end section-last*/

/* footer */

.footer-information{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 31px;
}

.information-top{
    display: flex;
    flex-direction: column;
}

.information-top a{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.information{
    display: flex;
    margin-top: 31px;
}

.information-bottom a{
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.ml60{
    margin-left: 60px;
}


.information-contacts{
    display: flex;
    align-items: flex-start;
}

.mr8{
    margin-right: 8px;
}

.ml51{
    margin-left: 51px;
}

.information-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 11px;
}

.vector{
    width: 1140px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 10px;
}

.footer-text{
    font-family: "Avenir Nex", sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: black;
    opacity: 0.2;
}

/* end footer */

